<!-- <div>
    <div class="container mt-3 mb-5">
      <div class="d-flex justify-content-center row" *ngIf="nfts">

        <div class="">
          <div *ngFor="let nft of nfts">
            <div class="col-md-3 mt-1">
              <img
                class="img-fluid img-responsive rounded "
                src="{{nft.image}}"
              />
            </div>
            <div class="col-md-6 mt-1">
              <h5>{{ nft.nom_nft }}</h5>
              <div class="d-flex flex-row">
                <div class="ratings mr-2">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </div>
              <div class="mt-1 mb-1 spec-1">
                <h2 class="mr-1">{{ nft.description }}</h2>
              </div>
            </div>
            <div
              class="align-items-center align-content-center col-md-3 border-left mt-1"
            >
              <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1">{{ nft.prix }} eth </h4>
              </div>
              <div class="d-flex flex-column mt-4">
                <button class="btn btn-primary btn-sm" type="button"
                  (click)="updateNFT(nft.id_nft)"> Update
                </button>
                <button class="btn btn-danger btn-sm" type="button"
                  (click)="deleteNFT(nft.id_nft)"> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div> -->






<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- swiperjs cdn link -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  <!-- font awesome cdn link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

  <!-- google font link -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,400&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet" />
</head>

<body>

  <!-- home section starts -->
  <section id="home" class="spacetop15 spacebottom10">
    <div class="container">
      <div class="row jc-between ai-center col-reverse-s">
        <div class="col5 col6-md col12-s ta-center-s">
          <h1 class="size2 bold spacebottom1">
            Create, Sell & Collect Your Own Creative NFT
          </h1>

          <div class="row col8 col9-md jc-between spacebottom4 jc-evenly-s col12-s">
            <a href="/create-nft" class="btn bg-purple size2 white ">Create your collection now</a>
            <a href="/show-nft" class="btn bg-white10 size2 white ">Sell NFT</a>
          </div>
        </div>
        <div class="col6 col12-s spacebottom3-s">
          <img src="assets/heroimage.png" alt="" class="img-responsive float">
        </div>
      </div>
    </div>
  </section>
  <!-- home section ends -->

  <!-- collections section starts -->
  <section class="collections" id="collections">
    <div class="con">
      <div class="row1" *ngFor="let nft of nfts">
        <div class="col" >
          <div class="row2">
              <img src="assets/monkey.jpg" class="img-responsive">
              <h6 class="size2 bold">Name: {{ nft.nom_nft }}</h6>
              <br>
              <p class="size2 bold"> {{ nft.description }}</p>
              <br>
              <h6 class="size2 bold">Price: {{ nft.prix }} eth </h6>              
            <div>
            </div>
          </div>

          <a href="/panier">
            <button class="btn"> Add to card
            <i class="fa-solid fa-cards-blank"></i> 
          </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- collections section ends -->

 
</body>

</html>