 <!-- about section starts -->
 <section id="about" class="spacer10">
    <div class="container">
        <div class="row ai-center jc-between flexcol-s">
            <div class="col5 col10-s spacebottom2-s">
                <img src="assets/about.png" class="img-responsive" alt="">
            </div>
            <div class="col6 col12-s ta-center-s">
                <h3 class="size3 bold">Get Popular NFT</h3>
                <p class="size2 spacetop1 spacebottom3 halfwhite">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla
                    accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget
                    condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- about section ends -->

